@import "../../../_variables.scss";

:host {
    display: block;
    width: 100%;
  }
.container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 170px 200px 400px auto;
  align-items: start;
  padding: 20px;
}
.selected{
  color: $accent;
  background-color: white;
  font-weight: bold;
}
.pageTitle{
  padding:20px;
  font-weight: 500;
}
table {
  width: 100%;
}

.patternStatsTable {
width: 100%
}
input{
  width:100%;
}
.searchBox {
  padding: 3px;
}

.patternStatsTitle {
  display:grid;
  padding: 8px;
  align-items: center;
  grid-template-columns: auto fit-content(300px);
}


.selectedPatternBox{
  padding: 5px;
  width: 400px;
}
tr:nth-child(even) {background: #666}
tr:nth-child(odd) {background: #444}
td {
  padding: 6px;
}
.patternFilter{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  column-gap: 8px;
  height:62px
}
.phraseSection{
  display: grid;
  grid-template-columns: 300px 300px  
}

.playButtons{
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr    
}

.occurrenceBox{
  display: grid;
  column-gap: 10px;
  grid-template-columns: 120px 1fr 1fr
}