<dc-patterns-library

    [stylesDataSource] = "stylesDatasource$ | async" 
    [bandsDataSource] = "bandsDatasource$ | async" 
    [songsDataSource] = "songsDatasource$ | async" 
    [patternsDataSource] = "patternsDatasource$ | async" 

    [stylesPageNo] = "stylesPageNo$ | async"
    [bandsPageNo] = "bandsPageNo$ | async"
    [songsPageNo] = "songsPageNo$ | async"
    [patternsPageNo] = "patternsPageNo$ | async"
    
    [totalStyles] = "totalStyles$ | async"
    [totalBands] = "totalBands$ | async"
    [totalSongs] = "totalSongs$ | async"
    [totalPatterns] = "totalPatterns$ | async"

    [stylesPageSize] = "stylesPageSize"
    [bandsPageSize] = "bandsPageSize"
    [songsPageSize] = "songsPageSize"
    [patternsPageSize] = "songsPageSize"

    [styleSelected] = "styleSelected$ | async"
    [bandSelected] = "bandSelected$ | async"
    [songSelected] = "songSelected$ | async"
    [phraseSelected] = "phraseSelected$ | async"

    (stylesPageChanged) = "stylesPageChanged($any($event))"
    (bandsPageChanged) = "bandsPageChanged($any($event))"
    (songsPageChanged) = "songsPageChanged($any($event))"
    (patternsPageChanged) = "patternsPageChanged($any($event))"

    (stylesTermChanged) = "stylesTermChanged($any($event))"
    (bandsTermChanged) = "bandsTermChanged($any($event))"
    (songsTermChanged) = "songsTermChanged($any($event))"
    (phrasesFilterChanged) = "phrasesFilterChanged($any($event))"

    (styleSelectedChanged) ="styleSelectedChange($any($event))"
    (bandSelectedChanged) ="bandSelectedChange($any($event))"
    (songSelectedChanged) ="songSelectedChange($any($event))"
    (phraseSelectedChanged) ="phraseSelectedChange($any($event))"

    (analyzePattern) = "analyzePattern($any($event))"
>
</dc-patterns-library>