@import "../../../_variables.scss";

:host {
    display: block;
    width: 100%;
  }
.container{
  display: grid;
  width: 95%;
  height: 100%;
  grid-template-columns: 170px 200px 400px auto;
  align-items: start;
  padding: 20px;
}
.selected{
  color: $accent;
  background-color: white;
  font-weight: bold;
}
.pageTitle{
  padding:20px;
  font-weight: 500;
}
table {
  width: 100%;
}

.patternStatsTable {
width: 100%
}
input{
  width:100%;
}
.searchBox {
  padding: 3px;
}

.patternStatsTitle {
  display:grid;
  padding: 8px;
  align-items: center;
  grid-template-columns: auto fit-content(100px);
}


.selectedPatternBox{
  padding: 20px;
  width: 80%;
}
tr:nth-child(even) {background: #666}
tr:nth-child(odd) {background: #444}
td {
  padding: 6px;
}
.patternFilter{
  display: grid;
  grid-template-columns: 150px 120px 120px 120px 120px 120px;
  column-gap: 8px
}
