@import "../../../_variables.scss";

:host {
    display: block;
    width: 100%;
  }
.container{
  display:grid;
  width:100%;
  height: 100%;
  grid-template-columns: 200px 250px 400px auto;
  align-items:  start;
  padding:20px;
}
.pageTitle{
  padding:20px;
  font-weight: 500;
}
.selected{
  color: $accent;
  background-color: white;
  font-weight: bold;
}
table {
  width: 100%;
}

.midiStatsTable {

}
input{
  width:100%;
}
.searchBox {
  padding: 3px;
}

.midiStatsTitle {
  display:grid;
  padding: 8px;
  align-items: center;
  grid-template-columns: auto fit-content(100px);
}


.selectedSongBox{
  padding: 20px;
  width: 80%;
}
tr:nth-child(even) {background: #666}
tr:nth-child(odd) {background: #444}
td {
  padding: 6px;
}