<h1 class="pageTitle">Songs Library</h1>
<div class="container">
	<div class="styles">
		<h2>Music Styles</h2>
		<mat-form-field>
			<mat-icon matPrefix>search</mat-icon>
			<input class="searchBox" matInput type="search" placeholder="Enter Search keyword"
			[formControl]="styleTerm" />
		</mat-form-field>
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="stylesDataSource" class="mat-elevation-z8" matSort>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Style</th>
					<td mat-cell *matCellDef="let style" (click)="selectStyle(style)"
						[class.selected]="styleSelected && style.id==styleSelected.id"><span>{{style.name}}</span></td>
				</ng-container>

				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>

			<mat-paginator #stylesPaginator [length]="totalStyles"
				[pageIndex]="stylesPageNo" [pageSize]="stylesPageSize"
				[hidePageSize]="true" (page)="getStylesPage($event)"></mat-paginator>
		</div>
	</div>
	<div class="bands">
		<h2>Bands</h2>
		<mat-form-field>
			<mat-icon matPrefix>search</mat-icon>
			<input class="searchBox" matInput type="search" placeholder="Enter Search keyword"
			[formControl]="bandTerm"  />
		</mat-form-field>
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="bandsDataSource" class="mat-elevation-z8" matSort>
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Band</th>
					<td mat-cell *matCellDef="let band" (click)="selectBand(band)"
						[class.selected]="bandSelected && band.id==bandSelected.id"><span>{{band.name}}</span></td>
				</ng-container>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator #bandsPaginator [length]="totalBands"
				[pageIndex]="bandsPageNo" [pageSize]="bandsPageSize" [hidePageSize]="true"
				(page)="getBandsPage($event)" showFirstLastButtons></mat-paginator>
		</div>

	</div>
	<div class="songs">
		<div class="panel panel-info">
			<h2>Songs</h2>
			<mat-form-field>
				<mat-icon matPrefix>search</mat-icon>
				<input class="searchBox" matInput type="search" placeholder="Enter Search keyword"
				[formControl]="songTerm"   />
			</mat-form-field>
			<div class="mat-elevation-z8">
				<table mat-table [dataSource]="songsDataSource" class="mat-elevation-z8" matSort>
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Song</th>
						<td mat-cell *matCellDef="let song" [class.selected]="songSelected && song.id==songSelected.id"><span
								(click)="selectSong(song)">{{song.name}}</span>
						</td>
					</ng-container>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
				<mat-paginator #songsPaginator [length]="totalSongs"
					[pageIndex]="songsPageNo" [pageSize]="songsPageSize"
					[hidePageSize]="true" (page)="getSongsPage($event)" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</div>


	<div class="selectedSongBox" *ngIf="songSelected">
		<div class="midiStatsTitle" *ngIf="songSelected">
			<h2>Song stats</h2>
			<div><button mat-raised-button color="primary" (click)="analyzeSongClicked(songSelected)">Analyze</button></div>
		</div>
		<div class="midiStatsTable">
			<table class="midiStatsTable">				
				<colgroup>
					<col style="width:40%">
					<col style="width:60%">
				</colgroup> 
				<tr>
					<td>Style</td>
					<td>{{songSelected.style.name}}</td>
				</tr>
				<tr>
					<td>Band</td>
					<td>{{songSelected.band.name}}</td>
				</tr>
				<tr>
					<td>Song name</td>
					<td>{{songSelected.name | fileNameToSongName}}</td>
				</tr>
				<tr>
					<td>Duration</td>
					<td>{{songSelected.midiStats.durationInSeconds | timeDuration}}</td>
				</tr>
				<tr>
					<td>Number of bars</td>
					<td>{{songSelected.bars.length | number}}</td>
				</tr>
				<tr>
					<td>Average tempo</td>
					<td>{{songSelected.averageTempoInBeatsPerMinute | number}}</td>
				</tr>
				<tr>
					<td>Tempo changes</td>
					<td>{{songSelected.tempoChanges.length | number}}</td>
				</tr>
				<tr>
					<td>Number of ticks</td>
					<td>{{songSelected.midiStats.durationInTicks | number}}</td>
				</tr>
				<tr>
					<td>Total tracks</td>
					<td>{{songSelected.midiStats.totalTracks | number}}</td>
				</tr>
				<tr>
					<td>Total bass tracks</td>
					<td>{{songSelected.midiStats.totalBassTracks | number}}</td>
				</tr>
				<tr>
					<td>Total chord tracks</td>
					<td>{{songSelected.midiStats.totalChordTracks | number}}</td>
				</tr>
				<tr>
					<td>Total melodic tracks</td>
					<td>{{songSelected.midiStats.totalMelodicTracks | number}}</td>
				</tr>
				<tr>
					<td>Total percussion tracks</td>
					<td>{{songSelected.midiStats.totalPercussionTracks | number}}</td>
				</tr>
				<tr>
					<td>Total instruments</td>
					<td>{{songSelected.midiStats.totalInstruments | number}}</td>
				</tr>
				<tr>
					<td>Total percussion instruments</td>
					<td>{{songSelected.midiStats.totalPercussionInstruments | number}}</td>
				</tr>
				<tr>
					<td>Total channels</td>
					<td>{{songSelected.midiStats.totalChannels | number}}</td>
				</tr>
				<tr>
					<td>Total tempo changes</td>
					<td>{{songSelected.midiStats.totalTempoChanges | number}}</td>
				</tr>
				<tr>
					<td>Total events</td>
					<td>{{songSelected.midiStats.totalEvents | number}}</td>
				</tr>
				<tr>
					<td>Total note events</td>
					<td>{{songSelected.midiStats.totalNoteEvents | number}}</td>
				</tr>
				<tr>
					<td>Total pitch bend events</td>
					<td>{{songSelected.midiStats.totalPitchBendEvents | number}}</td>
				</tr>
				<tr>
					<td>Total program change events</td>
					<td>{{songSelected.midiStats.totalProgramChangeEvents | number}}</td>
				</tr>
				<tr>
					<td>Total control change events</td>
					<td>{{songSelected.midiStats.totalControlChangeEvents | number}}</td>
				</tr>
				<tr>
					<td>Total sustain pedal events</td>
					<td>{{songSelected.midiStats.totalSustainPedalEvents | number}}</td>
				</tr>
				<tr>
					<td>Total chanel independent events</td>
					<td>{{songSelected.midiStats.totalChannelIndependentEvents | number}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>