<mat-toolbar color="primary">
  <div class="headerContent">
    <span class="productName">Sinphinity</span>
    <div><a routerLink="/" class="mat-h3" routerLinkActive="active"><mat-icon>home</mat-icon>Home</a></div>
    <div><a routerLink="/songs-library" class="mat-h3" routerLinkActive="active"><mat-icon>library_music</mat-icon>Songs Library</a></div>
    <div><a routerLink="/patterns-library" class="mat-h3" routerLinkActive="active"><mat-icon>comment</mat-icon>Phrases</a></div>
    <div><a routerLink="/upload" class="mat-h3" routerLinkActive="active"><mat-icon>arrow_circle_up</mat-icon>Song Upload</a></div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Songs in analysis</mat-label>
          <mat-select>
            <mat-option *ngFor="let song of songsUnderAnalysis" [value]="song.id">
              <a routerLink="/song-panel/{{song.id}}" style="color:black">{{song.name}}-{{song.band.name}}</a>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</mat-toolbar>