.container {
    border-radius: 10px;
    width: 620px;
    padding: 20px;
    margin: 20px
}

.songUploadForm{
    min-width: 400px;
    max-width: 500px;
    width: 100%;
}
.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}
h1 {
    padding: 8px;
}
.mat-form-field{
    min-width: 600px !important;
}
button{
    border-radius: 7px;
    padding: 7px;
    margin: 7px;
    
}
.styleSelection{
    background-color: #444;
}
.controlitem {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
}
.mat-selection-list {
    max-height: 350px;
    max-width: 250px;
    overflow: auto;
    margin: 7px;
}
.dropDownsArea{
    display:  grid;
    grid-template-columns: 300px 300px 1fr;
}
.textboxesArea{
    display:  grid;
    align-content: start;
    grid-template-columns: 1fr;
    padding-top: 30px;
}
.fileUploadArea{
    display:  grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr; 
}
label{
    font-size: 1.2em;
    padding-left: 10px;
}
button{
    width: 150px;
    margin-top:0px;
}
.submitArea{
    padding-top:30px;
}