<dc-song-panel 
    [song]="song$ | async" 
    [songId]="songId"
    [displacement]="displacement$ | async"
    [scale]="scale$ | async"
    [playingSong]="playingSong$ | async"
    [mutedTracks]="mutedTracks$ | async"
    [viewType]="viewType$ | async"
    [songSimplificationVersion]="songSimplificationVersion$ | async"
    [songSliderPosition]="songSliderPosition$ | async"

    
    (displacementChanged) = "displacementChanged($any($event))"
    (scaleChanged) = "scaleChanged($any($event))"
    (songStartedPlaying) = "songStartedPlaying($any($event))"
    (songStoppedPlaying) = "songStoppedPlaying()"
    (songPaused) = "songPaused()"
    (songResumed) = "songResumed()"
    (muteStatusChanged) = "muteStatusChanged($any($event))"
    (unmuteAllTracks) = "unmuteAllTracks()"
    (closePage) = "closePage($any($event))"
    (songViewTypeChanged) = "songViewTypeChanged($any($event))"
    (songSimplificationChanged) = "songSimplificationChanged($any($event))"
    (songSliderPositionChanged) = "songSliderPositionChanged($any($event))"
    
    >
</dc-song-panel>