<div class="header">
  <div>
    <span>Song: </span><span class="colored"> {{song?.name}} </span>
    <span color="primary"> Band: </span> <span class="colored"> {{song?.band?.name}}</span>
  </div>

<button mat-fab color="warn" aria-label="Zoom in" (click)="closePanel()">
  <mat-icon>close</mat-icon>
</button>
</div>
<div class="simplificationsSelector">
  <mat-form-field appearance="fill">
    <mat-label>Simplifications</mat-label>
    <mat-select matNativeControl required (selectionChange)="changeSimplification($event.value)" value="1">
      <mat-option value="1">Original cleaned of little imperfections</mat-option>
      <mat-option value="2">Embelishments removed</mat-option>
      <mat-option value="3">Passing notes removed</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="container">
  <div class="left">

  </div>
  <div class="right">
    <div class="panelControl">
      <button mat-mini-fab color="warn" aria-label="Zoom in" matTooltip="Zoom in" 
       (click)="changeScale(0.95)">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Zoom out"  matTooltip="Zoom out" 
      (click)="changeScale(1.05)">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Reset" (click)="reset()">
        Reset
      </button>
      <button mat-mini-fab color="warn" aria-label="Play" (click)="play()"  matTooltip="Play" 
      [disabled]="playingSong !== null && playingSong.isPaused===false  ">
        <mat-icon>play_circle_filled</mat-icon>
      </button>

      <button mat-mini-fab color="warn" aria-label="Pause" (click)="pause()" matTooltip="Pause"
       [disabled]="playingSong === null || playingSong.isPaused === true ">
        <mat-icon>pause_circle_filled</mat-icon>
      </button>
      
      <button mat-mini-fab color="warn" aria-label="Stop" (click)="stop()" matTooltip="Stop"
       [disabled]="playingSong === null">
        <mat-icon>stop</mat-icon>
      </button>

      <button mat-mini-fab color="warn" aria-label="Show piano roll view" matTooltip="Show piano roll view" 
      (click)="switchViewType(songViewType.pianoRoll)" [disabled]="viewType==songViewType.pianoRoll" >
        <mat-icon svgIcon="piano"></mat-icon>
      </button>

      <button mat-mini-fab color="warn" aria-label="Show rythm in music notation view" [disabled]="viewType==songViewType.rythmMusicNotation"
      matTooltip="Show rythm in music notation view" (click)="switchViewType(songViewType.rythmMusicNotation)" >
        <mat-icon>music_video</mat-icon>
      </button> 
      
        <mat-form-field >
          <mat-icon matPrefix svgIcon="metronome"></mat-icon>
          <input matInput class="tempoBox" type="search" value="tempoInBeatsPerMinute"
          [formControl]="tempoBox"  />
        </mat-form-field>
    </div>
    
    <mat-slider #slider min="0" [attr.max]="sliderMax" [attr.step]="sliderStep" value="0" class="sliderHoriz"
    (input)="sliderMoved($event)"
      ></mat-slider>
  
  </div>
</div>
<div *ngFor="let track of tracks">
  <dc-track [svgBoxIdPrefix]="svgBoxIdPrefix" [progressBarIdPrefix]="progressBarIdPrefix" [song]="song"
    [songId]="songId" [trackId]="track" [scale]="scale"  [sliderStep]="sliderStep"
     [displacement]="displacement" [svgBoxWidth]="svgBoxWidth"
    [svgBoxHeight]="svgBoxHeight" [simplification]="songSimplificationVersion" [isTrackMuted]="false"
    [muteStatus]="getMuteStatus(track)"
    [viewType]="viewType"
    (displaceChange)="displaceChange($any($event))"
    (muteStatusChange)="muteStatusChange($event)"
    [resetEvent]="resetEventSubject.asObservable()"
    [moveProgressBarEvent]="moveProgressBarSubject.asObservable()"
    [songSliderPosition]="songSliderPosition"
    [playingSong]="playingSong"></dc-track>
</div>




